/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */

// Modules
@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";
// Partials
@import "partials/reset";
@import "partials/wordpress";
@import "partials/utils";
@import "partials/wrapper";
@import "partials/header";
@import "partials/nav";
@import "partials/sidebar";
@import "partials/footer";
@import "partials/print";
// @import "nw-gracia";
@import "jeet/index";
body {
  /*@include center(960px);*/
  background: rgba(36, 0, 0, 1);
  background: -moz-linear-gradient(left, rgba(36, 0, 0, 1) 19%, rgba(36, 0, 0, 1) 23%, rgba(66, 0, 1, 1) 46%, rgba(66, 0, 1, 1) 61%);
  background: -webkit-gradient(left top, right top, color-stop(19%, rgba(36, 0, 0, 1)), color-stop(23%, rgba(36, 0, 0, 1)), color-stop(46%, rgba(66, 0, 1, 1)), color-stop(61%, rgba(66, 0, 1, 1)));
  background: -webkit-linear-gradient(left, rgba(36, 0, 0, 1) 19%, rgba(36, 0, 0, 1) 23%, rgba(66, 0, 1, 1) 46%, rgba(66, 0, 1, 1) 61%);
  background: -o-linear-gradient(left, rgba(36, 0, 0, 1) 19%, rgba(36, 0, 0, 1) 23%, rgba(66, 0, 1, 1) 46%, rgba(66, 0, 1, 1) 61%);
  background: -ms-linear-gradient(left, rgba(36, 0, 0, 1) 19%, rgba(36, 0, 0, 1) 23%, rgba(66, 0, 1, 1) 46%, rgba(66, 0, 1, 1) 61%);
  background: linear-gradient(to right, rgba(36, 0, 0, 1) 19%, rgba(36, 0, 0, 1) 23%, rgba(66, 0, 1, 1) 46%, rgba(66, 0, 1, 1) 61%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#240000', endColorstr='#420001', GradientType=1);
}

p {
  text-align: $zarovnani;
  // margin-bottom: $box-margin;
  letter-spacing: 0.75px;
  @media screen and (max-width: $mob-break) {
    text-align: left;
  }
}

li {
  text-align: justify;
  @media screen and (max-width: $mob-break) {
    text-align: left;
    // text-align: left;
  }
}

.header {
  position: relative;
}

.nelomit {
  white-space: nowrap;
}

aside {
  float: left;

  width: 25%;
  // margin-right: -100%;
  margin-top: 2em;

  background-color: transparent;
  // @include col(1/4, $gutter: 0);
  @media screen and (max-width: $mob-break) {
    float: right;

    @include column(1/1);
  }
}

main {
  float: right;

  width: 75%;
  padding: 2em 0 2em 2em;
  // @include col(3/4, $offset: 1/4, $gutter: 0);
  @media screen and (max-width: $mob-break) {
    float: none;

    padding: 0.5em;

    @include column(1/1);
  }
}

.wp-caption {
  display: inline-block;

  background-color: transparent;
  .wp-caption-text {
    padding-top: 0.5em;

    text-align: center;

    font-family: $font-family-base;
    font-size: 1em;
  }
}


/****************************** PLATNO **************************************/

.platno {
  overflow: hidden;

  min-height: 100px;
  padding: 3em;

  color: $text-content-color;
  border-radius: $border-radius;
  background-color: $svetle-pozadi;
  h1 {
    text-transform: uppercase;

    color: $text-content-color;

    font-family: $font-family-header;
    font-size: 2em;
  }
  a {
    @include links($text-content-color, $text-content-color, $telefon-color, $tmavsi-pozadi);
  }
  .sloupecky {
    clear: both;
    overflow: hidden;

    margin-bottom: 1em;
  }
  .vyhody {
    float: left;

    height: 100%;
    margin-top: 1em;
    margin-bottom: -9997em;
    padding: 1.5em 1.5em 9999em;

    color: $text-color;
    border-radius: $border-radius;
    background-color: $tmavsi-pozadi;
    box-shadow: $box-shadow;

    @include column(1/2, $gutter: 2, $cycle: 2);
    ul {
      padding-left: 1em;
    }
    li {
      list-style-type: $list-style-type;
    }
    @media screen and (max-width: $mob-break) {
      width: 100%;

      @include column(1/1, $gutter: 0, $cycle: 1);
    }
  }
  .nutno_dodrzet {
    float: left;

    height: 100%;
    margin-top: 1em;
    margin-bottom: -9997em;
    padding: 1.5em 1.5em 9999em;

    color: $text-color;
    border-radius: $border-radius;
    background-color: $body-bg;
    box-shadow: $box-shadow;

    @include column(1/2, $gutter: 2, $cycle: 2);
    p {
      text-align: left;
       ::first-child {
        clear: both;

        margin-top: 2em;
      }
       ::last-child {
        margin-bottom: 2em;
      }
    }
    ul {
      padding-left: 1em;
    }
    li {
      list-style-type: $list-style-type;
    }
    @media screen and (max-width: $mob-break) {
      width: 100%;

      @include column(1/1, $gutter: 0, $cycle: 1);
    }
  }
  .upozorneni {
    clear: both;

    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;

    border-radius: $border-radius;
    background-color: lightsalmon;
    box-shadow: $box-shadow;

    @include column(1/1);
    img {
      float: left;

      width: 17%;
      margin-right: 2em;
      // display: inline;

      border-width: 2px;
      border-style: none;
      border-color: white;

      @include col(1/4, $gutter: 0);
      drop-shadow: $box-shadow;
      @media screen and (max-width: $mob-break) {
        margin-bottom: 1em;

        @include column(1/1);
      }
    }
    p {
      display: block;

      margin: 2em 0 0;

      color: $box-text-color;

      @include col(3/4, $gutter: 0);
      @media screen and (max-width: $mob-break) {
        @include column(1/1);
      }
    }
  }
  .nejcastejsi_dotazy {
    clear: both;

    margin-top: 3em;
    margin-bottom: 3em;
  }
  @media screen and (max-width: $mob-break) {
    padding: 0.5em;
  }
}

footer {
  clear: both;

  padding: 2em;

  text-align: center;
  @media screen and (max-width: $mob-break) {
    @include column(1/1);
  }
}

.hr-style {
  clear: both;

  height: 1px;
  margin: 10px;

  border: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

  @include col(1/1);
}

.text_kadernictvi_blok {
  // margin: $box-margin;
  margin-top: 3em;
  margin-bottom: 3em;
  @media screen and (max-width: $mob-break) {}
}

// FOTOGRAFIE //
.fotky_kadernictvi_blok {}

.osobni_foto_leve {
  position: relative;

  display: block;
  clear: both;
  overflow: hidden;

  min-height: 100px;
  margin-bottom: 1em;
  padding: $box-padding;
  // height: auto;

  text-align: $zarovnani;

  border-width: $border-width;
  /*overflow: hidden;*/
  border-style: $border-style;
  border-color: $border-color;
  border-radius: $border-radius;
  background: $box-color;
  box-shadow: $box-shadow;
  @media screen and (max-width: $mob-break) {
    position: static;

    margin: 0 0 1em;
  }
  img {
    float: left;
    // @include col(1/3, $gutter: 0);

    width: $box-picture-size;
    margin-right: 2em;
    // display: inline;

    border-width: 2px;
    border-style: groove;
    border-color: white;
    @media screen and (max-width: $mob-break) {
      margin-bottom: 1em;

      @include column(1/1);
    }
  }
  p {
    // @include col(2/3, $gutter: 0);
    display: block;

    box-sizing: initial;
    height: 100%;
    margin-top: 0;
    margin-right: 2em;
    // padding: 0 !important;

    color: $box-text-color;
    @media screen and (max-width: $mob-break) {
      @include column(1/1);
    }
  }
}

.osobni_foto_prave {
  position: relative;

  display: block;
  clear: both;
  overflow: hidden;

  height: auto;
  margin-bottom: 2em;
  margin-bottom: 1em;
  padding: $box-padding;

  border-width: $border-width;
  border-style: $border-style;
  border-color: $border-color;
  border-radius: $border-radius;
  background: $box-color;
  background-image: url("img/gracia_vektor_sedivy.svg");
  background-repeat: no-repeat;
  background-position: -10% -10%;
  box-shadow: $box-shadow;
  @media screen and (max-width: $mob-break) {
    position: static;

    margin: 0 0 1em;
  }
  img {
    float: right;
    // @include col(1/3,
    // $offset: 2/3, $gutter: 0);

    width: $box-picture-size;
    margin-left: 2em;
    // display: inline;

    border-width: 2px;
    border-style: groove;
    border-color: $border-color;
    @media screen and (max-width: $mob-break) {
      margin-bottom: 1em;

      @include column(1/1);
    }
  }
  p {
    // @include col(2/3,
    // $gutter: 0);
    display: block;

    box-sizing: initial;
    height: 100%;
    margin-top: 0;
    margin-right: 2em;

    color: $box-text-color;
    @media screen and (max-width: $mob-break) {
      @include column(1/1);
    }
  }
}


/*--------------- KOSMETIKA --------------------------*/

.kosm_foto_leve {
  position: relative;

  display: block;
  clear: both;
  overflow: hidden;

  margin-bottom: 1em;
  padding: $box-padding;
  // height: auto;

  text-align: $zarovnani;

  border-width: $border-width;
  /*overflow: hidden;*/
  border-style: $border-style;
  border-color: $border-color;
  border-radius: $border-radius;
  background: $box-color;
  box-shadow: $box-shadow;
  @media screen and (max-width: $mob-break) {
    position: static;

    margin: 0 0 1em;
  }
  img {
    overflow: hidden;
    /* @include col(1/3, $gutter: 0);*/

    width: 350px;
    height: auto;
    margin-right: 2em;
    margin-bottom: 2em;
    // display: inline;

    border-width: 2px;
    border-style: groove;
    border-color: white;
    /*float: left;*/
    @media screen and (max-width: $mob-break) {
      margin-bottom: 1em;

      @include column(1/1);
    }
  }
  p {
    /* @include col(2/3, $gutter: 0);*/
    display: block;

    margin: 0;

    color: $box-text-color;
    @media screen and (max-width: $mob-break) {
      @include column(1/1);
    }
  }
}

.mezo_foto_leve {
  position: relative;

  display: block;
  clear: both;
  overflow: hidden;

  min-height: 250px;
  margin-bottom: 1em;
  padding: $box-padding;
  // height: auto;

  text-align: $zarovnani;

  border-width: $border-width;
  /*overflow: hidden;*/
  border-style: $border-style;
  border-color: $border-color;
  border-radius: $border-radius;
  background: $box-color;
  box-shadow: $box-shadow;
  @media screen and (max-width: $mob-break) {
    position: static;

    margin: 0 0 1em;
  }
  img {
    float: left;

    width: 20%;
    margin-right: 2em;
    // display: inline;

    border-width: 2px;
    border-style: groove;
    border-color: white;

    @include col(1/3,
    $gutter: 0);
    @media screen and (max-width: $mob-break) {
      margin-bottom: 1em;

      @include column(1/1);
    }
  }
  p {
    display: block;

    margin: 0;

    color: $box-text-color;

    @include col(2/3,
    $gutter: 0);
    // text-align: justify;
    @media screen and (max-width: $mob-break) {
      @include column(1/1);
    }
  }
}


/*--------------------KONEC KOSMETIKY----------------------*/

.telefon_c {
  white-space: nowrap;

  color: $telefon-color;

  font-family: $font-family-base;
  font-size: 1.5em;
  font-weight: bold;
}

.objednavka_kad_prava {
  // margin-left: 1em;
  bottom: $box-padding;
  left: $box-padding;
  // position: absolute;

  display: block;
  float: left;

  width: 60%;
  margin-top: 1.5em;

  text-align: left;

  color: $box-text-color;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: $box-text-color;
  @media screen and (max-width: $mob-break) {
    position: static;

    margin-top: 1em;

    @include column(1/1);
  }
}

.objednavka_kad_leva {
  right: $box-padding;
  bottom: $box-padding;
  // position: absolute;

  display: block;
  float: right;

  width: 60%;
  margin-top: 1.5em;
  margin-right: 2em;

  text-align: right;

  color: $box-text-color;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: $box-text-color;
  @media screen and (max-width: $mob-break) {
    position: static;

    width: 100%;
    margin-top: 1em;

    @include column(1/1);
  }
}

// DLAZDICE ///////
.dlazdice-blok {
  display: block;
  clear: both;
  @media screen and (max-width: $mob-break) {
    /* @include column(1/1);*/
    /*margin: 0.5em;*/
  }
}

.dlazdice {
  position: relative;

  clear: both;

  height: $vyska-dlazdice;
  margin-bottom: 1em;

  border-width: 0.5px;
  border-style: $border-style;
  border-radius: $border-radius;
  // background-image: url("img/SGKadernictvi.jpg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;

  @include col(1/3,
  $cycle: 3, $gutter: 1.5);
  @media screen and (max-width: 680px) {
    @include column(1/1, $gutter: 0);
    /*width: 100%;*/
    /*margin: 0px;*/
    /*visibility: hidden;*/
    /*position: static;*/
  }
}

.dlazdice-text {
  position: absolute;
  bottom: 0.7em;
  left: 0;

  width: 100%;
  padding: 3px;

  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  h3 {
    margin: 0;
    padding: 0.5em;

    text-transform: uppercase;

    color: black;

    font-size: 1.5em;
  }
  @media screen and (max-width: $mob-break) {
    /*@include column(1/1);*/
    /*margin: 0px;*/
  }
}

// NAZEV WEBU A LOGO
.hlavicka-text {
  display: inline;
  float: left;

  margin: 5em -20px $box-margin $box-margin;
}

.nazev_webu {
  text-transform: uppercase;

  font-family: $font-family-header;
  font-size: $nazev_webu_size;
}

.podnazev_webu {
  display: block;
  clear: both;
  // display: inline;

  margin-top: -0.5em;

  font-family: $font-family-header;
  font-size: $podnazev_webu_size;
}

// Logo
.logo {
  //  @include col(1/4, $offset: 3/4);
  display: inline;
  float: left;

  margin-left: 0;
  @media screen and (max-width: $mob-break) {
    @include column(1/1);
  }
}

.logo-img {
  margin: 2em;
}

// KONEC FOTOGRAFII //
// MENU NAVIGACE
.search-boxik {
  position: absolute;
  right: 0;

  margin-top: $search-top-padding;
  /*        border-top-style: solid;
        border-top-color: $telefon-color;
        border-top-width: 0.5px;*/
  padding: $box-padding;

  border-radius: $border-radius;
  background-color: $tmavsi-pozadi;
  @media screen and (max-width: $mob-break) {
    /*@include column(1/1);*/
    position: static;

    margin: 0 auto;

    background-color: transparent;
  }
}

.search-input {
  color: $text-content-color;
  background-color: $box-color;
}

.search-submit {
  border: none;
  background-color: $tmavsi-pozadi;
}

.menu {
  padding: 2em;

  list-style-type: none;

  text-decoration: none;

  color: yellow;
  a {
    text-transform: uppercase;

    font-family: $font-family-header;
    font-size: 1.5em;
  }
  .menu-item {
    margin-bottom: 1em;
  }
  @media screen and (max-width: $mob-break) {
    display: none;
  }
}

.sub-menu {
  padding-left: 1em;

  list-style-type: none;

  text-decoration: none;

  color: yellow;
  a {
    text-transform: none;

    font-family: $font-family-base;
    font-size: 1em;
  }
  .menu-item {
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;

    border-top-width: 0.3px;
    border-top-style: solid;
    border-top-color: $telefon-color;
    /*border-top-left-radius: $border-radius;*/
    background-color: $tmavsi-pozadi;
  }
}


/*HEADROOM*/

.headroom {
  transition: transform $rychlost-hlavicky linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}


/*---------------TABULKY----------------------*/

.tablepress {
  clear: both;

  max-width: 80%;
  margin: 2em auto 0;

  border-width: 1px;
  border-style: solid;
  border-color: $border-color;
  border-radius: $border-radius !important;
  box-shadow: $box-shadow;
  tbody {
    td {
      padding-right: 2em;
      padding-left: 2em;

      text-align: left;
      vertical-align: middle;
    }
  }
  td {
    padding: 0.5em !important;
  }
  h1 {
    color: $text-color;
  }
  .row-1 {
    color: white;
    background-color: $body-bg;
  }
  .column-2 {
    width: 20%;

    text-align: right;
    vertical-align: middle;

    color: $text-content-color;
    background-color: $box-color;

    font-size: 1.2em;
  }
  @media screen and (max-width: $mob-break) {
    max-width: 100%;
  }
}


/*----------------------- ČLÁNKY IN ----------------------------*/

.img-in {
  margin-top: 2em;
  margin-bottom: 2em;

  border-style: solid;
  border-color: $tmavsi-pozadi;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  @media screen and (max-width: $mob-break) {
    display: block;

    width: 100%;
    height: auto;
    padding: 0.5em;
  }
}

.rohy {
  display: inline-block;

  margin-top: 2em;
  margin-bottom: 2em;

  border-style: solid;
  border-color: $tmavsi-pozadi;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  @media screen and (max-width: $mob-break) {
    display: block;

    width: 100%;
    height: auto;
    padding: 0.5em;
  }
}

.zarazka {
  display: block;
  clear: both;

  width: 1.5em;
}

.breadcrumbs {
  display: block;
  clear: both;

  margin-top: 1.5em;
  margin-bottom: 1em;
  padding: 0.5em 0.5em 0.5em 30%;

  background-color: $tmavsi-pozadi;
  @media screen and (max-width: $mob-break) {
    float: none;

    padding-left: 1em;
  }
}

